@charset "utf-8";
@font-face{ font-family: 'SJssyhjt'; src: url('SJshishangyunhei-Subset.woff2') format('woff2'); font-weight: normal; font-style: normal;}

/* all */
body{ font-size: 15px; background: #f9fafd; color: #818181;}
a, a:active, a:hover, a:focus{ color: #6c757d; text-decoration: none; outline: none;}
span{ color: #6c757d;}

.logo{ font-family: 'SJssyhjt'; font-size: 2.2rem; line-height: 88%;}
.dropdown{ display: none; top: 3px; right: 20%; z-index: 999; padding: 10px; background-color: #fff; box-shadow: 0 3px 9px rgba(0,0,0,.3);}
.qrcode:hover .dropdown{ display: block;}

.img{ padding-top: 135%; background: url(../img/load.png) no-repeat; background-position: 50% 50%; background-size: cover;}
.img .active{ padding-top: 50%; background: url(../img/load_w.png) no-repeat; background-position: 50% 50%; background-size: cover;}
.img .img-text{ bottom: 0; padding: 5px 10px; font-size: 12px; background-image: linear-gradient(transparent,rgba(0,0,0,.5)); color: #fff;}
.img .play{ display: none; top: 0; z-index: 1; background: rgba(0,0,0,.1) url(../img/play.png) center no-repeat;}
.img:hover .play{ display: block;}

.playlist li{ width: 10%; margin: 10px;}
.playlist li a{ display: block; padding: 5px 10px; text-align: center; border: 1px solid #ccc; border-radius: 5px;}
.playlist li.playon a{ background-color: #dc3545; border: 1px solid #dc3545; color: #fff;}
.page-link:active,.page-link:hover,.page-link:focus{ background: #fff; color: #6c757d;}

#gotop{ display: none; bottom: 100px; right: 10%; z-index: 1000; width: 39px; height: 39px; border: 1px solid #ccc; border-radius: 5px; background-repeat: no-repeat; background-position: 50% 50%; background-size: 50% 50%; background-image: url(../img/gotop.png);}

@media (max-width: 768px) {
	.logo{ font-size: 2rem;}
	.nav,.navbar-nav{ white-space: nowrap; flex-wrap: nowrap; overflow-x: scroll; overflow-y: hidden;}
	.playlist li{ width: 30%; margin: 5px;}
	.playlist li a{ font-size: 13px; padding: 5px 15px;}
	.page-link{ padding: 10px 10px;}
}
