html,body {
	overflow-x: hidden;
}
a{
	color:#222;
	text-decoration:none;
}
a:hover{
	color:#2980B9;
	text-decoration:none;
}
a:focus {
	outline:0;
}
body{
	padding-top:65px;
}
body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, input, li, ol, p, select, span, sub, sup, table, td, textarea, th, ul {
	font-family: Microsoft YaHei, Helvetica, '宋体' , Tahoma, Arial, "\5b8b\4f53", sans-serif;
}
body, button, input, select, textarea{
}
/* h1, h2, h3, h4, h5, h6 */ h3 {
	margin-top:0;
}
li, ol, ul {
}
em, i {
}
table {	
}
iframe {	
}
.container {
	padding-left:10px;
	padding-right:10px;
}
/*模态框*/
.modal-scrollbar-measure {
	display:none;
}
/*导航栏*/
.navbar-default{
	-moz-border-radius: 0;      /* Gecko browsers */
  -webkit-border-radius: 0;   /* Webkit browsers */
  border-radius: 0;            /* W3C syntax */	
}
.navbar-default .navbar-nav > li a{
	font-size:1.1em;
	padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-default .navbar-brand{
	color:#2980B9;
	padding-left:0;
}
.navbar-default .navbar-header{
	float:right !important;
	padding-right:15px;
}
.navbar-default .navbar-header .navbar-toggle{
	padding:5px 10px;
	margin-right:0;
	margin-left:10px;
}
.navbar-default .navbar-header .navbar-toggle.nav-ico{
	display:inline;
}
.navbar-default .navbar-collapse{
	margin-left:0;
	max-height: 340px;
	width:100%;
}
.navbar-default .navbar-collapse .navbar-nav > li{
	float:left;
	text-align:center;
	width:25%;
}
.page-header{
	margin:5px 0;
	padding:5px 0;
}
.nav-tabs {
}
.nav-tabs>li>a {
	margin-right: 2px;
	border: 1px solid transparent;
	border-radius: 0;
	/*color:#337ab7;*/
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #2980B9;
	cursor: default;
	background-color: #fff;
	border: 1px solid #2980B9;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}
.nav-tabs>li>a:hover{
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	background:none;
}
.navbar-nav {
	height:50px;
    margin: 0;
}
.nav>li {
	float: left;
}
/*feifei-inc*/
.glyphicon,.fa-search,.fa-user{
	color:#2980B9;
}
.glyphicon-phone{
	font-size:3.0em;
}
.ff-row{
	margin-left:-5px;
	margin-right:-5px;
}
.ff-row .ff-col{
	padding-left:5px;
	padding-right:5px;
}
.ff-clearfix {
	margin:10px 0;
}
.ff-fixed{
}
.ff-text-left a {
	margin-left:5px;
}
.ff-text-right a {
	margin-right:5px;
}
.ff-text-hidden {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ff-totop {
	position: fixed;
	right: 20px;
	bottom: 50px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	z-index: 1;
	display: block;
	display: none;
	width:50px;
	height:50px;
	line-height:50px;
	background-color: #23527c;
	border-color: #23527c;
}
.ff-totop:hover {
	color: #FFF;
	background-color: #337ab7;
	border-color: #337ab7;
}
.ff-totop i {
	padding:5px 10px;
}
/*more*/
.ff-page-more{
	margin-bottom:40px;
}
/*验证码样式*/
.ff-vcode {
}
.ff-vcode-input {
	font-weight:normal;
	width:60px;
}
.ff-vcode-img {
	cursor: pointer;
	height: 29px;
	padding-left:5px;
}
/*顶踩样式*/
.ff-updown{
	padding:0;
	margin:0;
}
.ff-updown-set {
	color:#333;
}
.ff-updown-set .glyphicon {
}
.ff-updown-val {
	color:#666;
	font-size:0.8em;
}
/*评论组件*/
.ff-forum{
}
.ff-forum .ff-forum-reload{
}
.ff-forum .ff-forum-post{
}
.ff-forum .ff-forum-item{
}
.ff-forum .ff-forum-item .user-face{
	width:42px;
	height:42px;
}
.ff-forum .ff-forum-item .user-name{
}
.ff-forum .ff-forum-item .forum-content{
}
.ff-forum .ff-forum-item .forum-btn{
}
.ff-forum .ff-forum-item .forum-btn .glyphicon {
	color:#333;
}
.ff-forum .ff-forum-item .forum-btn .forum-reply-set{
}
.ff-forum .ff-forum-item .forum-btn .forum-reply-set .forum-reply-val {
	color:#666;
}
.ff-forum .ff-forum-item .forum-btn .forum-reply-get {
}
.ff-forum .ff-forum-item .forum-btn .forum-reply-get-0{
	display:none;
}
.ff-forum .ff-forum-item a.forum-report{
	color:#666;
	display:none;
	text-decoration:none;
}
.ff-forum .ff-forum-item .forum-reply{
}
.ff-forum .ff-forum-page{
}
/*二维码样式*/
.ff-qrcode {
	width:100px;
}
/*-------------------news----------------------------*/
.news-item-hot{
	padding-left:0;
	padding-right:0;
}
.news-item-hot li{
	color:#999;
	font-size:1.1em;
	line-height:1.6em;
	padding:0px 20px 20px 20px;
}
.news-item-hot li a{
	color:#666;
}
.news-item-hot li a:hover{
	color:#2980B9;
}
.news-item-medial{
	padding:0px 10px 10px 10px;
	margin-bottom:20px;
	border-bottom:1px #efefef solid;
}
.news-item-medial .face{
	width:32px;
	height:32px;
}
.news-item-medial .media-body .media-heading{
	margin-top:0;
	line-height:1.4em;
}
.news-item-medial .media-body .media-heading a{
	color:#2980B9;
}
.news-item-medial .media-body .media-heading a:hover{
	color:#222;
}
.news-item-medial .media-body .news-remark{
	color:#666;
	font-size:1.0em;
	line-height:1.6em;
}
.news-item-medial .media-body .news-tool{
	color:#999;
	font-size:12px;
}
.news-item-medial .media-body .news-tool a{
	color:#999;
}
.news-item-medial .media-body .news-tool a:hover{
	color:#333;
}
.news-item-medial .media-body .news-tool .fa{
	padding-right:10px;
}
.news-item-medial .media-left{
	padding:0 15px 0 0 ;
}
.news-item-medial .media-left .ff-img{
	width:75px;
	height:100px;
}
/*index.tpl*/
.index .ff-slide .glyphicon{
	color:#efefef;
}
.index .ff-slide img{
	max-height:270px;
}
.index .nav-tabs{
	margin-bottom:15px;
}
.index .nav-tabs li a{
	font-size:1.2em;
}
.index .page-header{
	border-bottom:none;
}
.index .page-header h4{
	margin-top:0;
	font-size:1.2em;
	color:#2980B9;
	border-left:2px solid #2980B9;
	padding-left:5px;
}
.index .tags-type li{
	margin-bottom:10px;
}
.index .tags-type li .btn{
	padding-left:5px;
	padding-right:5px;
}
.index .jumbotron{
	margin-bottom:0;
}
.index .jumbotron h2{
	margin-bottom:20px;
}
.index .jumbotron h2 sup{
	padding-left:10px;
	vertical-align:top;
	font-size:0.5em;
}
.index .jumbotron p{
	font-size:1.0em;
}
/*news/tags.tpl*/
.news-tags .jumbotron h2{
	margin-bottom:10px;
}
/*news/search.tpl*/
.news-search .ff-search{
	margin-bottom:10px;
}
/*news/detail.tpl*/
.news-detail .page-header{
	margin-bottom:5px;
	border-bottom:none;
}
.news-detail .page-header h2{
	margin-top:0;
	word-break: break-word!important;
	font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.news-detail .fa-tags a{
	color:#666;
}
.news-detail .fa-tags a:hover{
	color:#2980B9;
}
.news-detail .page-header h5{
	padding:10px 0 0 0;
}
.news-detail .page-header h4{
	padding:0 0 0 5px;
	border-left:2px solid #2980B9;
	margin:20px 0 0 0;
	color:#2980B9;
}
.news-detail i.fa{
	margin-right:5px;
}
.news-detail .news-content{
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
}
.news-detail .news-content img{
	margin:0 auto;
}
.news-detail .news-up{
	padding:15px 0 5px 0;
}
.news-detail .news-up .fa{
	color:#2980B9;
}
.news-detail .news-up a{
	margin-left:15px;
}
.news-detail .news-more{
	padding:20px 0 0 0;
}
.news-detail .news-more li{
	padding:10px 0;
	font-size:16px;
}
/*forum/index.tpl*/
.forum-index .page-header{
	margin-bottom:5px;
	border-bottom:none;
}
.forum-index .page-header h4{
	padding:0 0 0 5px;
	border-left:2px solid #2980B9;
}
.forum-index .media{
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px #efefef solid;
}
/*forum/detail.tpl*/
.forum-detail-vod p.content{
	font-size:1.0em;
	line-height:1.6em;
}
.forum-detail-vod p.design{
	padding-bottom:10px;
}
/*home/ajax_tags.tpl*/
.ajax-tags .page-header{
	border-bottom:none;
}
.ajax-tags .tags-type li{
	margin-bottom:10px;
}
.ajax-tags .tags-type li a sup{
	color:#999;
	padding-left:3px;
}
/*jquery.autocomplete*/
.autocomplete-suggestions {
	font-size:1.0em;
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
	padding:8px 0 8px 5px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-no-suggestion {
	padding: 2px 5px;
}
.autocomplete-selected {
	background: #F0F0F0;
}
.autocomplete-suggestions strong {
	font-weight: bold;
	color: #2980B9;
}
@media (min-width: 768px){
	.container {
    width: 970px;
  }
	.navbar-default .navbar-header{
		padding-right:0 !important;
	}
	.navbar-default .navbar-brand{
		padding-left:15px;
	}
	.navbar-default .navbar-nav>li {
		width:auto !important;
		text-align:left;
	}
	.news-item-medial .media-left .ff-img{
		width:100px;
		height:125px;
	}	
}
.img-wc {
	vertical-align: middle;
	display: inline;
}
.img-se {
	display: none;
	width: 121px;
}
