html, body {
    overflow-x: hidden;
}
body {
    background-color: #efefef;
    font-size: 18px;
}
.container {
    width: 375px;
    padding: 0;
    margin: 0 auto;
    background-color: rgb(246, 218, 227);
    text-align: center;
}
img {
    width: 100%;
}
a,a:link,a:visited {
    text-decoration: none;
}
.table {
    padding: 3.5% 60px;
}
table {
    width: 275px;
}
th {
    height: 3.5em;
}
td {
    height: 2em;
}
.marquee {
    margin-top: 8%;
}
marquee {
    height: 2em;
}
.clearfix {
    margin: 2.5% auto;
}
.red {
    color: rgb(255, 0, 0);
}
.orange {
    color: rgb(255, 165, 0);
}
.green {
    color: rgb(0, 128, 0);
}
