body {
    margin: 0 auto;
    padding: 1%;
    font-family: Microsoft YaHei;
}
a,a:link,a:visited {
    text-decoration: underline;
    color: blue;
}
@media (min-width: 768px) {
    .container {
        width: 700px;
        padding: 0;
    }
    img {
        width: 700px;
    }
    th {
        width: 350px;
        font-weight: 400;
    }
    th img {
        width: 215px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 350px;
        padding: 0;
    }
    img {
        width: 350px;
    }
    th {
        width: 175px;
        font-weight: 400;
        text-align: center;
    }
    th img {
        width: 169px;
    }
}
.left {
    text-align: left;
    font-size: 16px;
}
.center {
    text-align: center;
}
.red {
    color: red;
    font-weight: 900;
}
.white {
    color: white;
}
.clearfix {
    margin: 3px auto;
}
